@media only screen and (max-width : 992px) {
    .tableProducts .tdImage{
        width: 50px;
        margin:auto;
    }
    
    .tableProducts th{
        height: 75px;
    }
    .tableProducts td{
        height: 75px;
    }
    .tableProducts td{
        text-align: center!important;
    }
  }
  
  @media only screen and (min-width : 993px) {
    .tableProducts .tdImage{
        width: 100px;
    }
    
  }