<div class="row">
        <a class="waves-effect waves-light btn col s12 m4 l4 offset-l8 offset-m8" href="?module=product&layout=addproduct"><i class="mdi-content-add-circle right"></i>Agregar Producto</a>
    <div class="col m12 l12 s12">
        <div class="row">
            <div class="input-field col s12 m6 l6">
                <input placeholder="Buscar Producto" name="palabraclave" type="text">
            </div>
                <div class="input-field col s12 m6 l6">
                <select name="categoria" class="materializeSelect">
                  <option value="%">Todas las categorias</option>
                </select>
              </div>
        </div>
    </div>
    <div class="col m12 l12 s12">
        {TABLE}
    </div>
</div>