<div class="">
    <div class="row">
    <div class="col m12 l12 s12">
        <form class="row" id="formFilterProduct">
            <input type="hidden" name="module" value="store">
            <input type="hidden" name="action" value="searchProduct">
            <div class="input-field col s12 m6 l6">
                <input placeholder="Buscar Producto" name="palabraclave" type="text" id="searchbyWord">
            </div>
            <div class="input-field col s12 m6 l6">
                <select name="categoria" id="searchbyCategory" class="materializeSelect">
                    <option value="%">Todas las categorias</option>
                    {OPTIONS_CATEGORY}
                </select>
            </div>
        </form>
    </div>
    <div class="col m12 l12 s12">
        <div class="row">
            {PRODUCTS}
        </div>
        
    </div>
</div>
</div>