
<!--  Parallax Section  -->
<div class="parallax-container">
    <div class="parallax"><img src="{SITE_IMG_DIR}parallax1.jpg" style="display: block; transform: translate3d(-50%, 382px, 0px);"></div>
</div>
<div class="section white">
    <div class="row container">
        <h2 class="header">Parallax</h2>
        <p class="grey-text text-darken-3 lighten-3">Parallax es un efecto en donde el contenido de fondo o en este caso una imagen, se mueve a una velocidad diferente al contenido en primer plano mientras se desplaza verticalmente por la página.</p>
    </div>
    <div class="row container">
        <h4 class="light">Parallax Demo HTML</h4>

    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="{SITE_IMG_DIR}parallax2.jpg" style="display: block; transform: translate3d(-50%, 23px, 0px);"></div>
</div>    

