<div class="container">
    <div class="row">
        <div class="col m12 s12 l12">

<h4 class="header">Soluciones de mantenimientos</h4>
<p class="grey-text text-darken-3 lighten-3">
Mantos preventivos y correctivos a PC´s, Laptops y equipo de impresión, Reparación de computadoras, impresoras de inyección de tinta y laser. Mantenimiento Preventivo y Correctivo a Servidores y Sistemas de Almacenamiento Masivo de Datos SAN y NAS.
<ul>
    <li>Migración de bases</li>
    <li>Migración Servidores</li>
    <li>Soluciones en Almacenamiento</li>
    <li>Cableado y redes</li>
</ul> 

<h4 class="header">Soluciones de Software</h4> 
<p class="grey-text text-darken-3 lighten-3">
Sistemas operativos Windows 7, 8, XP, Linux, antivirus y servidores.
</p>

<h4 class="header">Soluciones de hardware</h4>
<p class="grey-text text-darken-3 lighten-3">
Equipo de cómputo accesorios como: usb, usb-teclado usb-mouse, display de laptop, discos duros interno y externo para: laptop y pc, bases para laptop, cargadores para laptop, genéricos y originales, ventiladores para lap, fuentes de poder para pc, memorias ram, no break, cable extensores, cámaras web, impresoras o multifuncionales, laptop y pc ensambladas, cable utp y udp.
</p>

<h4 class="header">Soluciones de impresión</h4>
<p class="grey-text text-darken-3 lighten-3">
Venta de cartuchos originales, tóner genéricos y originales, tintas de punto matriz EPSON o requerida.
</p>

<h4 class="header">Solución de Cámaras de CCTV</h4>
<p class="grey-text text-darken-3 lighten-3">
Instalación y venta, kit de cámaras de 4 8 o 16 cámaras de seguridad alámbricas e inalámbricas. Opción de grabadores de DVR, cámaras ip local.
</p>

<h4 class="header">Contratos de servicios</h4> 
<p class="grey-text text-darken-3 lighten-3">
Especializados para cada empresa u negocio, nos adaptamos a las necesidades de cada particular.
</p>

<ul>
    <li>Por ticket</li>
    <li>Contrato mensual</li>
</ul> 

<h4 class="header">Soporte Técnico A Distancia</h4>
<p class="grey-text text-darken-3 lighten-3">
Consisten en una asistencia que se proporciona a cualquier usuario para su equipo de cómputo a largas distancias a través de línea telefónica, internet o cualquier otro tipo de contacto.
</p>

<h4 class="header">Soporte con Team Viewer</h4>
<p class="grey-text text-darken-3 lighten-3">
Se puede ejecutar en algunos S.O. que ya lo trae instalados o lo puedes descargar para que un técnico pueda tener acceso a la pantalla de tu computadora para reparar el problema.  En línea.  Asistencia telefónica.  Video llamadas.
    
<h4 class="header">Tóner Cartridge</h4>
<p class="grey-text text-darken-3 lighten-3">
Remanufacturados o genéricos: CALIDAD 100% GARANTIZADA Nuestros cartuchos son remanufacturados con la mayor calidad ya que 
<p>
   <ul>
    <li>Cada cartucho pasa por una prueba previa a ser remanufacturado para comprobar que se encuentra en buen estado.</li>
    <li>La limpieza y rellenado se hace con maquinaria especializada.</li>
    <li>Cada impresora necesita una tinta distinta o un tóner específico, y de esta manera lo realizamos.</li>
    <li>Nosotros remanufacturamos, no rellenamos. Ya que cambiamos todas las piezas de un cartucho que entran en contacto con tu impresora y sufren desgaste al imprimir.</li>
    <li>Al finalizar el proceso de remanufactura cada cartucho se somete a una prueba de impresión en nuestras impresoras para asegurar su calidad.</li>
</ul>  
<p class="grey-text text-darken-3 lighten-3">
Es por esto que estamos seguros que en cuanto sale un cartucho de alguna de nuestras tiendas, cumple con la calidad que tú y tu impresora necesitan. Lo que nos permite ser los únicos que te ofrecen una garantía por escrito de que nuestros cartuchos funcionarán de manera similar a los de un original y que estos no dañarán a tu impresora. Tóner Compatible y Remanufacturado: Grandes Beneficios a Precios Bajos.
</p>
        </div>
    </div>
</div>